{% extends 'shop/layouts/main.html'%}

{% block title%}
  shopping kart
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
{% endblock title%}



{% block content%}


<section class="py-5 text-center container"  style="margin-top:70px;">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Vendor Form</h1>
        <p class="lead text-muted">Upload your products here</p>
      </div>
    </div>
  </section>


 


  <div class="container">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {%bootstrap_form form%}
      <button type="submit" class="btn btn-primary btn-warning">Save</button>
    </form>
  </div>


{% endblock content%}